<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrousel</title>

    <script src="https://kit.fontawesome.com/728d295f20.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">

</head>
<body>
    <section class="carrousel">
        <div class="carrousel__container">
            <div class="carrousel-item">
                <img class="carrousel-item__img" src="https://image.freepik.com/foto-gratis/niebla-manana-arrastra-restos-sobre-bosque-montana-otonal-cubierto-hojas-oro_146671-19800.jpg" alt="Landscape">
                <div class="carrousel-item__details">
                    <div class="">
                        <i class="fas fa-play"></i>
                        <i class="fas fa-plus"></i>
                    </div>
                    <p class="carrousel-item__details--title">Lorem ipsum dolor sit.</p>
                    <p class="carrousel-item__details--subtitle">2021 10+ 1:14</p>
                </div>
            </div>
            <div class="carrousel-item">

            </div>
            <div class="carrousel-item">

            </div>
        </div>
    </section>
</body>
</html>